*{
    margin: 0px;
    padding: 0px;
}
#logo{
    height: 40px;
    width: 130px;
}
.header{
    display: flex;
    justify-content: space-between;

}
.top-menu{
    display: flex;
    justify-content: space-between;

}
.top-menu ul{
    list-style-type: none;

}
#searchbar{
    width: 800px; 
    height: 50px;
    border-radius: 30px;
    border-width: 1px;
}